{% extends "layout.html" %}
{% block body %}


<!-- About Section -->
<section id="about">
    <div class="container">
        
        <div class="panel panel-warning" style="margin-left: 15px; margin-right: 15px">
           <div class="panel-heading">
             <h3 class="panel-title" align="center">{{ member.lastName }} {{ member.firstName }}</h3>
           </div>
           <div class="panel-body">
             <div class="row">
               <div class="col-xs-2">
                 <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/') }}{{ member.lastNameLatin }} {{ member.firstNameLatin }}.jpg" alt="" style="padding: 1%">
               </div>
               <div class="col-xs-10" style="padding: 5%">
                <table class="table table-user-information">
                  <tbody>
                     {% for absence in member.absences.record %}
                     <tr>
                        <td>
                           {{ absence.sessionDate }}
                        </td>
                        <td>
                           {{ absence.reason }}
                        </td>
                        <td>
                           {{ absence.reasonDetail }}
                        </td>
                        <td>
                            <a href="{{ absence.source }}" target="_self">источник данных</a>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
                </table>
               </div>
             </div>
           </div>
        </div>
    </div>      
</section>

{% endblock %}
