{% extends "layout.html" %}
{% block body %}
<style type="text/css">
.table th {
  text-align: center;  
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.table td {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
</style>
<section id="about">
    <div class="container" align="center">

        <div>
          <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/') }}{{ member.lastNameLatin }} {{ member.firstNameLatin }}.jpg" >
        </div>

        <div>
          <h2>{{ member.lastName }}</h2>
          <h3>{{ member.firstName}}</h3>
        </div>

        <div class="timeline-body">
            <p class="text-muted">
              <font style="color:#FDD035" size="20">
                  <strong>{{ member.absences.days.count }}</strong>
              </font>
              {% if member.absences.days.count > 1 %}
                  Days
              {% else %}
                  Day
              {% endif %}
              <font style="color:#FDD035" size="5">
                  &nbsp;<strong>{{ member.absences.sessions.count }}</strong>
              </font>
              {% if member.absences.sessions.count > 1 %}
                  Sessions
              {% else %}
                  Session
              {% endif %}
              <br>
              {% if member.absences.since %}
                  <font>
                      Since {{ member.absences.since.strftime('%d/%m/%Y') }}
                  </font>
                  <br>
              {% endif %}
              <br>
            </p>
        </div>

        {% if member.absences.days.count > 0 %}
        <table class="table table-user-information table-responsive table-condensed">
          <thead>
              <th>Дни заседаний</th>
              <th>Причина неучастия депутата на заседаниях</th>                        
              <th>Ф.И.О. депутата, которому передано право голосования</th>
              <th>источник данных</th>
          </thead>
        <tbody>
           {% for session in member.absences.sessions.sessions %}
           <tr>
              <td>
                 {{ session.date }}
              </td>
              <td>
                  <div>
                      {{ session.reason }}
                  </div>
                  <div>
                      {{ session.detail }}
                  </div>                           
              </td>
              <td>
                  {{ session.transferredVoteTo }}
              </td>
              <td>
                  <a href="{{ session.source }}" target="_self">источник данных</a>
              </td>
           </tr>
           {% endfor %}
        </tbody>
      </table>
      {% endif %}

    </div>      
</section>

{% endblock %}
