{% extends "layout.html" %}
{% block body %}


<script>


function getAbsentees(){
    $.ajax({
      type: "POST",
      url: "{{ url_for('mod_api.absentees') }}",
      data: {}
    }).done(function() {

    });
}
</script>

<!-- About Section -->
<section id="about">
    <div class="container">

        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top Absentees</h2>
                <h3 class="section-subheading text-muted">
                    Ranking members of parliament based on their absenteeism.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {% set rank = 1 %}

                    {% for absentee in absentees %}
                        {% if loop.index % 2 == 0 %}
                        <li>
                        {% else %}
                        <li class="timeline-inverted">
                        {% endif %}
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://www.kenesh.kg/MyFiles/image/%D0%A1%D0%B0%D0%BC%D0%B0%D0%BA%D0%BE%D0%B2%20%D0%9A_%20%D0%A1_.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><font style="color:#FDD035">#{{ rank }}:</font> {{ absentee.lastName }}</h4>
                                    <h4 class="subheading">{{ absentee.firstName }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Фракция «Ата Мекен»
                                    <br>
                                    <font style="color:#FDD035" size="20"><strong>{{ absentee.count }}</strong></em></font>
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% set rank = rank + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}