{% extends "layout.html" %}
{% block body %}

<script>
 $(document).ready(function() {
        var currentPartyType = '{{ party_type }}';
        if(currentPartyType != ''){
            $("#party-type").val(currentPartyType);
        }

        $('#party-type').change(function() {
            partyType = $('#party-type').val()
            if (partyType == 'all'){
                var myWindow = window.open('/', "_self");
            }else{
                var url = "/" + $('#party-type').val();
                var myWindow = window.open(url, "_self");
            }  
        });
    });
</script>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Самые отсутствующие люди</h2>
                <h3 class="section-subheading text-muted">
                    Расположение членов парламента на основе их прогул
                    <br><br>
                    <form class="form-horizontal" role="form">
                        <div class="form-group  text-center">
                            <label class="control-label col-sm-5" for="party-type">Тип группы:</label>
                            <div class="col-sm-3">
                                <select id="party-type" class="form-control">
                                    <option value="all">Все</option>
                                    <option value="faction">Фракция</option>
                                    <option value="deputies">депутатская группа</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {% set rank = 0 %}
                    {% set previous_absence_count = 0 %}

                    {% for member in members %}

                        {% if member.absences.count != previous_absence_count %}
                            {% set rank = rank + 1 %}
                            {% set previous_absence_count = member.absences.count %}
                        {% endif %}

                        {% if loop.index % 2 == 0 %}
                        <li>
                        {% else %}
                        <li class="timeline-inverted">
                        {% endif %}
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/') }}{{ member.lastNameLatin }} {{ member.firstNameLatin }}.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><font style="color:#FDD035">#{{ rank }}:</font> {{ member.lastName }}</h4>
                                    <h4 class="subheading">{{ member.firstName }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    {{ member.group.fullName }}
                                    <br>
                                    <font style="color:#FDD035" size="20"><strong>{{ member.absences.count }}</strong></em></font>
                                    {% if member.absences.count > 1 %}
                                        Прогулы
                                    {% else %}
                                        Прогул
                                    {% endif %}

                                    </p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}